/* default css start */
*{
    margin: 0;padding:0;box-sizing:border-box;scroll-behavior:smooth;outline:none;
    transition: .2s linear;
}
body{
    margin:0;
    position:relative;left:0;right:0;
    background-color:var(--lightGrey);
}

::selection{background:var(--opacCol);}
::-moz-selection{background:var(--opacCol);}

@keyframes colChange {
    0% {color: red;}
    50% {color: blue;}
    100% {color: red;}
}

/* SCROLLBAR */
::-webkit-scrollbar {width:12px;}
::-webkit-scrollbar-track {background: var(--lightGrey);border-left: 1px solid var( --subtleBlack);}
::-webkit-scrollbar-thumb {background: var(--aaaGrey); border-radius: 12px; border: 1px solid var( --subtleBlack);}
@media screen and (max-width:800px){::-webkit-scrollbar {display: none;}}

:root {
    --lightGrey: #ddd;
    --aaaGrey: #aaa;
    --middleGrey: #666;
    --subtleBlack: #222;
    --realBlack: #000;
    --opacCol: rgba(0,0,0,0.2);
}

img{width:100%;display:inline-block;}

footer{
    text-align:center;
    background-color: var(--lightGrey);
    border-top: 1px solid var(--subtleBlack);
}

/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url("Noto_Sans_KR/NotoSansKR-Black.otf"), url("Noto_Sans_KR/NotoSansKR-Bold.otf"), url("Noto_Sans_KR/NotoSansKR-Light.otf"), url("Noto_Sans_KR/NotoSansKR-Medium.otf"), url("Noto_Sans_KR/NotoSansKR-Regular.otf"), url("Noto_Sans_KR/NotoSansKR-Thin.otf");
} 
    
@font-face {
    font-family: 'Playfair Display', serif;
    src: url("Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")url("Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");;
} 

a{color: var(--subtleBlack);text-decoration:underline;}
a:hover{cursor:pointer;animation: colChange 2s infinite;}
a:visited{color: var(--subtleBlack);}
a:after{color: var(--subtleBlack);}

h1, h2, h3, h4, h5, h6, p, a, span, ul, li{margin:0;padding:0;color:var(--subtleBlack);}

/* Playfair Display */
h1,h2,.english{font-family: 'Playfair Display', serif;}
h1{font-size:54px;line-height:1.4;}
h2{font-size:32px;line-height:1.4;font-weight:400;}
h2 strong{font-weight:700;}
h2 .gradient{font-weight:400;}
p a,p span .work-title{font-size:20px;line-height:1.6;font-weight:400;}

/* Nanum */
.korean {font-family: 'Nanum Myeongjo', serif;font-weight:800;}

/* Gothic A1 */
h6, p, p a, ul, li{font-family: 'Noto Sans KR', sans-serif;}
h6,p {font-size:20px;line-height:1.5;}
h6{font-weight:700;}
p,ul,li{font-weight:400}

ul{font-family: 'Noto Sans KR', sans-serif; font-size:20px;line-height:36px;font-weight:400;}
ul li a{text-decoration:none;font-weight:400;transition: .2s linear;}
.sidenav > p > a {font-family: 'Noto Sans KR', sans-serif;font-size:20px;line-height:30px;font-weight:400}

.gradient{
    background: #0000FF;
    background: -webkit-linear-gradient(to right, #0000FF 0%, #ff0000 100%);
    background: -moz-linear-gradient(to right, #0000FF 0%, #ff0000 100%);
    background: linear-gradient(to right, #0000FF 0%, #ff0000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center{text-align:center;}
/* TOP ICON */

.arrow{
    background: var(--lightGrey);
    width: 72px;padding:18px;
    border-radius: 50%;border: 1px solid var(--subtleBlack);
    position:fixed;
    bottom: 20px;right:20px;z-index: 4;
}

.arrow:hover{box-shadow: 0px 2px 20px var(--opacCol);}

/* DIVS */
.container{
    width:100%;
    max-width:1440px; margin:37px auto;
    border:1px solid var(--subtleBlack);
    background: var( --lightGrey);
}

.section{
    width:100%;padding:24px;max-width:1440px;
    margin: 0 auto;
}

.activelink{padding:24px;}

.border{border-top:1px solid var(--subtleBlack);}

.slide{
    width:100%;
    max-width:1440px;
    margin:0 auto;padding:0;display:block;
    left:0;right:0;bottom:0;top:0;
    animation: appearance 0.6s linear;
    background-color:#ffffff;
}

/* THUMBS ON INDEX */
.thumbnail-grid{
    display:flex;
    justify-content: space-between;  
    width:100%;
    max-width:1440px;
    margin: 0 auto 24px auto;
    padding: 0 24px;
    grid-gap:24px;
}

.thumbnail-grid > .thumbnail-box, .thumbnail-box-work{
    display:inline-block;
    width: 100%;vertical-align: top;
    border: 1px solid var(--subtleBlack);
    transition: .2s linear;
    margin:0;
}
.thumbnail-box:hover{
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0px 2px 18px var(--opacCol);
}
.thumbnail-grid > .thumbnail-box > p {display:inline-block;height:auto;vertical-align: top;}

.thumb-text-box{padding:12px;}
.thumb-title-box{position:relative;display:block;}
.thumb-title-box > h6, .thumb-title-box > p { display:inline-block;} 
.thumb-title-box > p{ float:right;}

.thumb-border{
    width:100%;height:1px;
    border-top:1px solid var(--subtleBlack);
    margin: 10px auto;
}

.thumbnail-img{
    width:100%;height:360px;
    background-color:var(--middleGrey);
    border-bottom: 1px solid var(--subtleBlack);
}
.thumbnail-img-work{
    width:100%;height:240px;
    background-color:var(--middleGrey);
    border-bottom: 1px solid var(--subtleBlack);
}

.thumb-left{width:30%;display:inline-block;float:left;height:200px;}
.thumb-right{width:70%;display:inline-block;float:right;height:100%;}

@media screen and (max-width:800px){
    .thumbnail-grid{display:block;margin:0;}
    .thumbnail-grid .thumbnail-box{width:100%;}
    .thumbnail-img, .thumbnail-img-work{height:200px;}
    .thumbnail-grid > .thumbnail-box, .thumbnail-grid > .thumbnail-box-work{margin-bottom:24px;}
    .thumb-left{width:100%;display:inline-block;height:200px;}
    .thumb-right{width:100%;display:inline-block;height:100%;}
}

/* THUMBNAIL IMAGES */
    /* Portrait */
    .self{
        background:url("profile_bw.jpg")no-repeat center;
    }
    /* School */
    .school-korea{background:url("korea.jpg")no-repeat center;}
    .school-risd{background:url("risd.jpg")no-repeat center;}
    /* WORK */
    .work-pxd{background:url("work/pxd.png")no-repeat center;}
    .work-risd{background:url("work/thumb_risd.png")no-repeat center;}
    .work-adi{background:url("work/adi.png")no-repeat center;}
    /* UI */
    .ui-mc{background:url("uiux/thumb_mc.jpg")no-repeat center;}
    .ui-dp{background:url("uiux/thumb_dp.jpg")no-repeat center;}
    .ui-sema{background:url("thumb_sema.jpg")no-repeat center;}
    .ui-mong{background:url("uiux/yunmi_cover.jpg")no-repeat center;}
    .ui-retro{background:url("uiux/thumb_retro.jpg")no-repeat center;}
    .ui-decker{background:url("uiux/thumb_deck.jpg")no-repeat center;}
    /* Brand */
    .bi-sign{background:url("brand/thumb_sign.jpg")no-repeat center;}
    .bi-lotus{background:url("brand/thumb_lotus.jpg")no-repeat center;}
    .bi-risd{background:url("brand/thumb_risd.png")no-repeat center;}
    /* TYPE */
    .type-risd{background:url("type/thumb_risd.png")no-repeat center;}
    .type-sejong{background:url("type/thumb_sejong.png")no-repeat center;}
    /*EDIT*/
    .edit-cat{background:url("edit/thumb_cat.jpg")no-repeat center;}
    .edit-blackhole{background:url("edit/blackhole.png")no-repeat center;}
    .edit-blade{background:url("edit/thumb_blade.jpg")no-repeat center;}
    .edit-luft{background:url("edit/thumb_luft.png")no-repeat center;}
    .edit-designer{background:url("edit/thumb_design.jpg")no-repeat center;}
    /*Image - Common*/
    .self,.school-korea, .school-risd, .work-adi, .work-pxd, .work-risd, .ui-mc, .ui-dp, .ui-mong,.ui-sema, .ui-retro,.ui-decker,.bi-sema,.bi-sign,.bi-lotus, .bi-risd, .type-risd, .type-sejong, .edit-cat, .edit-blackhole, .edit-blade , .edit-luft, .edit-designer{
        -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; 
        background-size: cover;
    }

/* VIDEO */
.video{width:100%;height:100%;}

/* NAVBAR */
.nav-wrapper{
    position:fixed;margin:0;padding:0;top:0;
    width:100%;height:48px;
    color: var(--subtleBlack); background-color:var(--lightGrey); border-bottom: 1px solid var(--subtleBlack);
    z-index:4;
}

.nav-container{
    width:100%;
    max-width:1440px;
    display:block;
    margin:0 auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav-container > p, .nav-container > ul{
    display:inline-block;
    margin:0 0 0;padding:0;right:0;
}
.nav-container >ul{float:right;list-style: none;}
.nav-container >ul>li{
    display:inline-block;margin:0 0 0 12px;
}
.nav-button{
    display:none;
    float:right;
    padding:0;
    border:none;background:none;
}


@media screen and (max-width: 1440px) and (min-width:891px){
    .nav-container{
        padding-left:24px;
        padding-right:24px;
    }
}

/* NAV RELATIVE*/
@media screen and (max-width: 890px) {
    .nav-container{        
        padding-left:24px;
        padding-right:24px;
    }
    .nav-menu-items{display:none;}
    .slide-menu{
        width:100vw;height:100vh;
        z-index:5;transform:translateX(100vw);
    }
    .nav-container > ul{display:none;}
    .nav-button{
        display:inline-block;
        outline:none;
        background:none;
        margin-top: 3px;
    }
}
  
.sidenav {
    width:0;height:100%;
    position: fixed; top:0;right:0;
    background-color: var( --realBlack);
    overflow-x: hidden;
    transition: 0.5s; padding-top: 60px;
    z-index:6;
}

.sidenav > div {padding:0 24px; color: var(--aaaGrey);}
.sidenav > div > p {
    position: absolute;bottom:24px;left:24px;font-size:32px;line-height:1.4;width:90vw;
}
.sidenav > div > h2{ color: var(--aaaGrey);}
.sidenav > p > a{
    position: absolute;
    width:100%;
    text-align:right;
    top:9px;right:24px;
    color: var(--aaaGrey);
}
  
/* ILLUST */

.illust{
    width:100%;
    height:auto;
    margin-bottom: 24px;
    display:block;
}

.illust-horizontal{ 
    max-width:540px;
    margin-left:auto;
    margin-right:auto;
}


