/* default css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline:none;
}

::selection{background:#ddd;}
::-moz-selection{background:#ddd;}

body{
    background: #ffffff;
    margin:0 auto 0 auto;
    position:relative;
    left:0;right:0;
}

img{width:100%;}

/* TYPOGRAPHY */

.center{text-align:center;}

h1, h2, h5, h6,p, ul{
    font-family: 'Gothic A1', sans-serif;text-decoration: none;margin:0;
}

h1,h2{line-height: 1.4em;}
h1{font-size: 3.6em;font-weight:800; }
h2{font-size: 1.6em;font-weight:600;}

h5{
    font-weight: 600;
    font-size: 1.4em;
    line-height: 2em;
    text-transform: uppercase;
}

h6{font-weight: 800;}
p,ul{font-weight:400;}
p, ul, h6{
    font-size: 1.2em;
    line-height: 2em;
}

a{color:black;cursor: pointer;}
a:hover{ color:blue;transition: color 0.2s linear;}
a:active{color:black;}

/* VIDEO */
.video{
    position:relative;
    width: 100%;
    padding-bottom: 480px;
    margin: 6em auto 6em auto; 
    max-width: 720px;
}

.video iframe{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    max-height: 480px;
}

@keyframes appearance{
    0%{
        transform: translateY(10px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity:1;
    }
}

/* TOP ICON */

.arrow{
    width: 4em;
    background: #ffffff;
    padding: 1em;
    border-radius: 50%;
    border: 1px solid black;
    position:fixed;
    bottom: 2em;
    right:2em;
    z-index: 4;
}

/* DIVS */

.white-container{background:white;}
.body{max-width:1440px;margin:auto;}
.box{width:100%; padding: 2em;}
.button{border: 1px solid black;}

.section{
    display:flex;
    width:100%;
    animation: appearance 0.6s linear;
    margin:auto;
    margin: 0;
    padding: 2em;
}

.innerbox{width:100%; padding: 2em;}

@media screen and (max-width:800px){
    /* div */
    .section{
        display: inline-block;
        width:100%;
        padding: 1em 0 0 0;
    }

    .innerbox{
        padding: 1.2em 2em 1.2em 2em;
    }

}


.slide{
    width:100%;
    margin:0;padding:0;
    display:block;
    left:0;right:0;bottom:0;top:0;
    animation: appearance 0.6s linear;
}

.slide-wrap{width:100%;}

.image{
    width:100%;
}


.border{
    border-top: 1px solid #cccccc;
}

footer{
    background-color: #eeeeee;
    border-top: 1px solid #cccccc;
    background-image:url("2.gif");
    background-position: center;
    background-size: 100% 100%;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background:black;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 12px;
}


/* RESPONSIVE */

@media screen and (max-width:800px){

    /* SCROLLBAR */
    ::-webkit-scrollbar {
        display: none;
    }


}

