body{
    background-color:black;
}
h1{
    font-size:1.4em;
    color:white;
    line-height: 1.2;
    font-family:"courier new";
}
img{
    width:100%;
}
.nav{
    width:100%;
    margin:0 2% 0 2%;
    position:fixed;
    font-weight:bold;
}
.text{
    color:white;
    font-size:1.4em;
    line-height: 1.4;
    font-family:"courier new";
}
.title{
    color:white;
    font-size:1.4em;
    line-height: 1.2;
    font-family:"courier new";
}
a{
    color:white;
}
a:hover{
    color:blue;
}
a:visited{
    color:white;
}
.link:hover{
    color:blue;
}

.bg{
    position:fixed;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    z-index: -1;
}

.textbox{
    width:96%;
    margin:auto;
}
.grid{
    width:96%;
    margin:auto;
    padding:0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.gridbox{
    width:100%;
    margin:0;
    padding:0;
    display:inline-block;
}


@media only screen and (max-width: 720px) {
    .grid{
        width:96%;
        margin:auto;
        display:grid;
        grid-template-columns: 1fr;

    }
}