.thumbnail-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width:1440px;
    margin:auto;
    padding: 1em;
    grid-gap:1em;
}

@media screen and (max-width:800px){
    .thumbnail-grid{
        display:block;
    }
}

.thumbnail-box{
    width:100%;
    outline:none;
    border:none;
    transition: opacity .2s linear;
    opacity:1;
    background-color:#ddd;
}
.thumbnail-img{
    width:100%;
    height:360px;
    background-color:#666;
}

.thumbnail-box:hover{
    opacity:.9;
    cursor: pointer;
}

