/* TITLE */

.title-box{
    position:fixed;
    margin: 3.8em 0 0 0;
    padding:0;
    width:100vw;
    height:400px;
    z-index: -1;
}

.titleimg{
    width:100%;
    max-width: 600px;
}

.gif-margin{width:100%;height:calc(400px + 4em);}


.lightbg{
    background-image:url("2.gif");
    background-position: center;
    background-size: 100% 100%;
}

.titleimg{
    width:48%;
    margin:  2em auto 2em auto;
    animation: appearance 0.6s linear;
}

.darkbg{
    background-image:url("1.gif");
    background-position: center;
    background-size: 100% 100%;
}



