/* main content */

.nav-gap {
  height: 42px;
}

/* ================== LIST ================== */
.list-wrapper{
  width:100%;
  margin:0;
}

.list-title{
  padding: 0 0 var(--padding-sm) 0;
}

.list{
  width: 100%;
  display:flex;
  gap: var(--padding-md);
  padding: var(--padding-sm) 0;
}

.list-dark-line{
  color: var(--grey-dark);
  border-bottom: 1px solid var(--grey-line);
}

.list-light-line{
  color: var(--grey-extralight);
  border-bottom: 1px solid var(--grey-extralight);
}

.list-light-line > p, .list-light-line > p > a{
  color: var(--grey-extralight);
}

.list-first{
  flex:1;
}

/* ================== BUTTON ================== */

.btn-default{
  border: none;
  background: var(--btn-dark);
  color: var(--white);
  padding: var(--padding-sm) var(--padding-md);
  border-top: 1px solid var(--btn-top);
  border-left: 1px solid var(--btn-top);
  border-bottom: 1px solid var(--grey-dark);
  border-right: 1px solid var(--grey-dark);
}

.btn-default:hover{background: var(--btn-dark-hover);}

.btn-text{
  border: none;
  background: none;
}
.btn-text:hover{color: var(--point-blue);}
.btn-text-light{color: var(--grey-extralight);}

/* ================== ETC ================== */

.badge{
  background-color: var(--grey-light);
  color: var(--grey-dark);
  padding: 4px 4px 2px 4px;
  border: 1px solid var(--grey-line);
  border-radius: var(--radius-sm);
  text-transform: uppercase;
}
