/* ================== BASIC ================== */
section{
  width:100%;
  max-width: var(--max-width);
  padding: var(--padding-section);
  margin: 0 auto;
}

/* ================== NAV ================== */
nav{
  width: 100%;
  height: 42px;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: var(--padding-lg);
  padding: var(--padding-sm) var(--padding-md);
  background: var(--grey-extralight);
  border-bottom: 1px solid var(--grey-line);
  position: fixed;
  text-transform: uppercase;
}

nav h6 {flex: 1;}
nav button {text-transform: uppercase;}

.nav-links {
  display: flex;
  z-index: 998;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    right: 0;
    padding: 0 var(--padding-md);
    gap: var(--padding-object);
    background-color: var(--grey-extralight);
    width: 100%;
    height: 0px;
    top: 41px;
    overflow: hidden;
  }

  .nav-links.open {
    top: 41px;
    height: auto;
    padding: var(--padding-md);
    border-bottom: 1px solid var(--grey-line);
    border-top: 1px solid var(--grey-line);
  }

  .nav-links li a {
    display: block;
  }
}

/* ================== TEXT-WRAPPER ================== */

.text-wrapper-xs{
  display:flex;
  flex-direction: column;
  width:100%;
  gap: 0;
  padding:0; margin:0;
}

.text-wrapper-sm{
  width:100%;
  display:flex;
  flex-direction: column;
  gap: var(--padding-thin);
  padding:0; margin:0;
}

/* ================== CARD ================== */
.card-wrapper{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: 1px solid var(--grey-line);
}

.card{
  display:flex;
  width: 100%;
  flex-direction: column;
  align-self: stretch;
  padding: var(--padding-md);
  gap: var(--padding-md);
}

.card > .btn-txt{
  width: auto;
  justify-content: left;
  align-items: left;
}

.card-border{
  border-left: 1px solid var(--grey-line);
  width: 1px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.card-image{
  background-color: var(--grey-line);
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 1200/800;
}

@media screen and (max-width: 768px) {
  .card-wrapper{
    flex-direction: column;
  }
  .card-border{
  border-left: none;
  width: 100%;
  border-top: 1px solid var(--grey-line);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  }
}

/* ================== FOOTER ================== */

footer {
  padding: var(--padding-section);
  background: var(--grey-dark);
  color:var(--grey-extralight);
}


