body, code {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, a{
  margin: 0;
  color: var(--grey-dark);
}

/* ============ SIZE ============  */
h1{
  line-height: 1.4;
  font-size: var(--font-size-xxl);
}

h2{
  line-height: 1.4;
  font-size: var(--font-size-xl);
}

h5{
  line-height: 1.4;
  font-size: var(--font-size-lg);
}

h6{
  line-height: 1.2;
  font-size: var(--font-size-md);
}

p, ul li, ol li, button, .badge , dl, dt, dd{
  margin: 0;
  line-height: 1.6;
  font-size: var(--font-size-md);
}

caption{
  margin: 0;
  line-height: 1;
  font-size: var(--font-size-sm);
}

/* ============ STYLE ============  */

h2{text-transform: uppercase;}
a{text-decoration: none;}
a:hover {text-decoration: none; color: var(--point-blue);}
a:visited {color: var(--grey-dark);}

.badge{line-height: 1.12em;}

.light-link{color: var(--grey-extralight);}
.light-link:hover{color: var(--point-blue);}

.center{text-align:center;}
.all-cap{text-transform: uppercase;}
.grey-text{color: var(--grey-text);}
.blue-text{color: var(--point-blue);}
