body{
    background: #ffffff;
}
.nav{
    width:100vw;
    left:0;
    right:0;
    top:0;
    border-bottom: 1px solid black;
    overflow: hidden;
    margin:0;
    position:fixed;
    z-index:2;
}
.nav a{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.6em 0.6em;
    text-decoration: none;
    float: left;
    color:black;
}
.nav a:hover{
    color: black;
    background-color:#dddddd;
    transition: background-color 0.3s ease;
}

h1{
    font-family: 'Helvetica', sans-serif;
    font-size: 12em;
}