/* SECTION ======================================================================== */

img{
    width: 100%;
    height: auto;
    display: block;
}

header{
    width:100%;
    margin-top: 48px;
    display:flex;
    flex-direction: column;
    gap: var(--margin-section-gap);
}

@media screen and (max-width: 768px) {header{margin-top: 46px;}}

main{
    width: 100%;
    margin: 0 auto;
    padding: var(--margin-section) var(--margin-section) var(--margin-section) var(--margin-section);
    display:flex;
    flex-direction: column;
    gap: var(--margin-section-gap);
}

article{
    width:100%;
    max-width: var(--width-article);
    margin: 0 auto; 
}

section, .index-project{
    width:100%;
    max-width: var(--width-section);
    margin: 0 auto;
}

figure{
    margin-bottom: var(--margin-default);
}

.index-project > * {min-width: 0;}
article > * {min-width: 0;}
section > * {min-width: 0;}

.center-content{
    width: 100%;
    margin: 0 auto;
}

.hero-image{width: 100%;}
.thumb-image{display:none;}
@media screen and (max-width: 768px){
    .hero-image{display:none;}
    .thumb-image{width: 100%;display:inline-block;}
}

table{
    width: 100%;
    padding:0;
    margin:0;
    border-collapse: collapse;
    border: none;
}

tr{
    width: 100%;
    display:flex;
    border-bottom: 1px solid var(--grey-dark);
}   

td, th {
    width: 100%;
    text-align: left;
    padding: 8px;
}

/* INDEX ======================================================================== */

.index-project{
    width: 100%;
    display: flex;
    padding: var(--margin-section) 0px;
    align-items: center;
    gap: var(--margin-section);
    border-bottom: 1px solid var(--grey-dark);
}

.index-project-img{
    height: 306.667px;
    flex: 1 0 0;
    aspect-ratio: 460.00/306.67;
}

.index-project-text{
    display: flex;
    min-width: 200px;
    max-width: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--margin-big-default, 20px);
    flex: 1 0 0;
    align-self: stretch;
}

.index-txt-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    padding: 0 0  24px 0;
    align-self: stretch;
}

@media screen and (max-width: 768px) {
    .grid-half{
        display:block;
        gap: var(--margin-section);
    }
    .index-project{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }
    .index-project-text{
        width: 100%;
        max-width: 100%;
        gap: 8px;
    }
}

.chip-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

/* NAV ======================================================================== */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px var(--margin-section);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--grey-extralight);
    z-index: 100; 
    border-bottom: var(--line-width) solid var(--grey-dark);
    text-transform: uppercase;
}

.nav-menu{display:none;}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-link > a {display: flex;}

.sidebar {
    position: fixed;
    margin: 47px 0 0 0;
    padding: 16px 12px 17px 12px;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--grey-extralight);
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    border-bottom: 1px solid var(--grey-dark);
    z-index: 99;
    text-transform: uppercase;
}

.sidebar.active {
    transform: translateY(0); 
}

.sidebar-closebtn-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: right;
    align-self: stretch;
    padding:0 0 8px 0;
}

.sidebar-link{
    width: 100%;
    padding: 8px 10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.sidebar-link:click{
    background: var(--grey-light);
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: inline-block;
    }
    .nav-link {
        display: none;
    }
}

/* FOOTER ======================================================================== */

footer{
    width: 100%;
}

@media screen and (max-width: 768px) {
    footer > p{
        display:block;
    }
}

.custom-toast{
    position: fixed;
    top: var(--margin-section);
    left: 50%;
    transform: translateX(-50%);
    background: var(--grey-extralight);
    color: var(--grey-dark);
    padding: 8px 12px;
    border: 1px solid var(--grey-dark);
    border-radius: var(--radius-default);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
    font-size: var(--size-caption);
    box-shadow: 6px 6px 0 0 var(--grey-shadow);
}
  
.custom-toast.visible {
    opacity: 1;
}
