<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jueun Jeon's Portfolio</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="{{ '/page/common/meta-image.jpg' | relative_url }}">
    <meta charset="utf-8">
    <meta name="description" content="My name is Jueun Jeon, and I am a UI/UX designer from Seoul, Korea.">
    <meta name="author" content="Jueun Jeon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/assets/img/favicon.jpg' | relative_url }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ '/assets/img/favicon.jpg' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/component.css'| relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/root.css'| relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/section.css'| relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/type.css'| relative_url }}">
  </head>
  <body>
    <nav id="nav"></nav>
    {{ content }}
    <footer id="footer"></footer>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/icon.js' | relative_url }}"></script>
  </body>
</html>
